<html lang="en">

<body>

    <h1>Login Form</h1>
    <form action="/login" method="post" >
        <input placeholder="Name" name="name" type="text" required>
        <br>
        <input placeholder="Password" name="password" type="password" required>
        <br>
        <input class="sub" type="submit">
     <h3>Dont have a account ?</h3>
    <a href="/signup">Create a new account</a>
    </form>


    
</body>
</html>