<nav>
  <div>
    <ul>
      
      <li><a href="/Create">Add Filght</a></li>
      <li><a href="/Details">Flight Details</a></li>
      <li><a href="/Delete">Delete Flight</a></li>
      <li><a href="/Booked_Det">Booked Details</a></li>
      
      
    </ul>
  </div>
</nav>