<html lang="en">

<body>
    
<h1>Sign Up</h1>

    <form action="/signup" method="post" >
        <input placeholder="Name" name="name" type="text" required>
        <br>
        <input placeholder="Password" name="password" type="password" required>
        <br>
        <input class="sub" type="submit">
    </form>

       <a href="/">Go back to login page</a>

</body>
</html>