<%- include('../Header.ejs') %>

<%- include('../navigation.ejs') %>
<h2>Terms and Conditions</h2>
<ul>
<li>he total price displayed on the Site includes all applicable government taxes.</li>
<li>You are required to pay the entire amount prior to the confirmation of your booking.</li>
<li>There will be no refund for 'no-shows' or any partially unused flights.</li>
<li>Refund against partially utilized ticket is as per airlines terms and conditions and could take up to 90 days.</li>
<li>To avail of infant fares, an infant must be under 24 months throughout the entire itinerary you are booking. This includes both onward and return journeys. If the infant is 24 months or above on the return journey, you'll need to make a separate booking using a child fare.</li>
<li>Infants must be accompanied by an adult at least 18 years of age.</li>
<li>All Tickets/Bookings issued to the customer shall additionally be governed under the terms and conditions as laid out by the respective Airlines / supplier.</li>
<li>We recommend user to refer airlines terms and conditions before booking the ticket.</li>
<li>By accepting our booking terms, user is also agreeing to terms & conditions of the respective airline</li>
<li>Goibibo charges a non-refundable per passenger convenience fee of Rs.279/- for oneway flights and Rs.429/- for roundtrip flights, however, it may vary for few sectors/airlines.</li>
<li>Friends and Family Special Fares are applicable only on both Domestic and International sectors</li>
<li>Special Fares are applicable for minimum two and maximum nine passengers in one booking</li>
<li>Seats are subject to availability</li>
<li>Special Fares are not applicable on group bookings</li>
<li>Normal baggage allowance applicable for these fares</li>
<li>Minimum 2 passengers will be required in the PNR after cancellation in case booked under family fare.</li>
<li>All statutory taxes, surcharges and fees are to be paid by the passenger, as applicable on the date of travel</li>
<li>Flight schedules and timings are subject to regulatory approvals and change(s)</li>
<li>Most airlines do not permit infants younger than 7 days. For more information, please get in touch directly with the airlines</li>
<li>As per airline policy, unaccompanied minor passengers are required to carry specific supporting documents. Please contact the airline directly for the same</li>
</ul>
<h3>Cancellation Policy::</h3>
<ul>
<li>Every booking made on Goibibo is subject to cancellation charges levied by the airline, which may vary by flight and booking class.</li>
<li>booked fares may be non-refundable per the specific airline's policy.</li>
<li>Online cancellations: Cancellations can be made online by Customer Support page. Step by step details for online cancellations are available Customer Support page. Step by step details for online cancellations are available here</li>
<li>Offline cancellations: We also accept cancellation requests through phone.</li>
<li>Goibibo cancellation charges: In addition to the airline cancellation charges, Goibibo will charge Rs 300 per passenger per sector for each cancellation.</li>
<li>Only cancellation requests made online or telephonic or email (For emails travel date must be more than 48 Hrs) through our customer support shall be entertained. Goibibo shall not be liable to entertain any cancellation requests made through any other medium.</li>
<li>For e-tickets, if your cancellation request is made less than 4 hours before departure, you'll need to contact the airline directly to get your reservation cancelled. We will not be able to provide any assistance for these cancellations.</li>
<li>For e-tickets, if your cancellation request is made less than 24 hours before departure, you'll need to contact our customer care executive through telephone. The request through any other medium will not be entertained.</li>
<li>If you have done a 'Web/Tele Check-in' with the airline, get in touch with the airline for cancellation. Goibibo will not be able to process the refund for the same and will not take any responsibility for the same.</li>
</ul>
<h3>Refund:</h3>
<ul>
<li>It is mandatory to contact Goibibo for all refunds, as the airline will not be able to refund your tickets booked at goibibo.com.</li>
<li>All cancellations made directly with the Airline need to be intimated to Goibibo by Email or Phone in order to initiate the refunds process</li>
<li>Processing times for cancellation and refund requests vary.</li>
<li>Convenience fees paid at the time of booking is a non-refundable fee and same shall be applicable on all cancellations including any partial cancellation requests</li>
<li>The refund will be credited back to the same account from where the payment was made. For example, if the User used a credit card, Company will make an appropriate charge reversal. If the User used a debit card, Company will credit the money back to the debit card.</li>
<li>On the event of cancellation and refund of partially utilized tickets upfront discount and promo code discount availed at the time of booking would be deducted from the refund amount.</li>
<li>In case, where the user has cancelled his/her booking directly with the airlines, he/she will need to inform Company with valid documentation to initiate the refund process. It is advisable to contact Company within 48 hours of the cancellation request.</li>
<li>The meal amount is non-refundable. (Refundable only if the flight is cancelled by the airlines).</li>
<li>Company will be able to initiate customer's refund only after receipt and/or confirmation of refund from the airline.</li>
</ul>